#principal{
	width: 900px;
	height: auto; overflow: hidden;
	border: 0px solid #000;
	margin: ;

}

header{
	width: 900px;
	height: 100px;
	border: 0px solid #000;
}

#logo{
	width: 200px;
	height: 100px;
	border: px solid #000;
	float: left; font-family: sans-serif;
}

.menu{
	width: 460px;
	height: 40px;
	border: 1px solid #ccc;
	float: right;
	margin-top: 40px;
	background: #000;
}

.menu ul{}

.menu ul li{
	list-style: none;
	float: left;
}

.menu ul li a{
	text-decoration: none;
	padding: 10px 15px;
	border: 0px solid #ccc;
	color: #fff; 
}

.menu ul li a:hover{
	background: #fff;
	color: #000;
	transition: background 1s, color 1s;
}

#categorias{
	width: 900px;
	height: auto; overflow: hidden;
	border: 1px solid;
	margin-top: 15px;